*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: black;
}

p {font-size: 1.5em;
color: rgb(224, 224, 224);
}

.conteiner-botones {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
  
.boton {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30px;
    background: #202020;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    letter-spacing: 2px;
}
  
.boton span {
    position: relative;
    z-index: 2;
}
  
.boton.uno::after {
    content: "";
    width: 100%;
    height: 100%;
    background: chocolate;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 0;
    transition: 0.4s ease-in-out;
}
  
.boton.uno:hover::after {
    top: 0;
}

.container {
    max-width: 1400px;
    margin: auto;
}

.color-acento {
    color: chocolate;
}

header {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.0),
        rgba(0,0,0,0.0)
    )
    ,url(./img/Diseño\ sin\ título\ \(5\).png);
}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: chocolate;
    font-size: 2em;
    letter-spacing: 1px;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
    
}

header a {
    padding: 2px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

header a:hover {
    color: rgb(0, 0, 0);
}


#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    )
    ,url(./img/numbers-1-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
}

.map-container{
    overflow:hidden;
    padding-bottom: 0%;
    position:relative;
    height: 0px;
}
.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
}

#hero h1 {
    color: chocolate;
    font-size: 1em;
}



footer{
    background-color: #000000;
}

footer p{
    margin: 0;
    padding: 5px;
    color: rgb(223, 223, 223);
    font-size: 15px;
}

footer a{
    color: chocolate;
    text-decoration: none;
}

footer .container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px){

    header {
        width: 100%;
    }
    
    header .container {
        flex-direction: row;
        justify-content: space-between;
    }
    
    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;    
    }

    header .logo {
        color: white;
    }

    #hero h1 {
        font-size: 1.5em;
        color: chocolate;
    }
   
    .boton {
        width: 90px;
        height: 40px;
        font-size: 12px;
        border-radius: 50px;   
    }
    
    

}